Lab 05:
Mix & Match Calculator

Create Lists for [Item, Quantity, Price] with 10 random values of your choice.
The item list can be of any category of your choice [Food Items, Grocery Items,...] or anything you choose that can be bought.

Prepare a CSV file with combinations of these values with the help of random index & looping statements and other control structures we discussed in class.

To get a random index or number to access items from the list, you can use the following:
random is a library in Python that can be used to generate random numbers.

import random # Importing the external library
r1 = random.randint(0, 10) # Generating the random number from the range and store it in r1 variable

More details of the Random library usage can be found here.

Your CSV file should have a minimum of 100 rows created randomly with the data in the list and the random library.
Each row in the CSV file will have (item, Quantity, and UnitPrice).

After preparing the CSV with Python code, you need to compute
The total cost for each row, display the result from the first 5 rows and the last 10 rows
Calculate the total cost for each unique item in the dataset.
Item Name | Total Quantity | Total
Print the minimum & maximum price for each item sold

In [39]:
import random #importing library random

iteam=["apple","banana","orange","chees","cake","umbrella","lays","ice","chocalate","car"]#creating liste
quantity=[1,2,3,4,5,6,7,8,9,10]
price=[100,102,104,106,108,110,112,114,116,118]
total=[]

In [40]:
def listIteam(iteam,quantity,price):
 file=open("23122016.txt","a+")

 for i in range(100):
    r1=random.randint(0,9)
    r2=random.randint(0,9)
    r3=random.randint(0,9)
    total=quantity[r2]*price[r3]
    file.write("\n"+str(iteam[r1])+","+str(quantity[r2])+","+str(price[r3])+","+str(total))

listIteam(iteam,quantity,price)

the total cost for each row displying the result of first 5 row and the last 10 rows

In [41]:
file=open("23122016.txt","r+")
for line in range(6):
 line=file.readline()
 print(line) 

for line in range(91,101):
    line=file.readline()
    print(line)

ice,9,102,918

chocalate,4,100,400

chocalate,9,104,936

umbrella,8,108,864

apple,2,110,220

chees,7,116,812

lays,5,114,570

car,9,112,1008

lays,4,112,448

apple,5,106,530

ice,3,114,342

lays,9,118,1062

ice,7,100,700

cake,4,110,440

banana,6,100,600

finding minimum and maximum

In [42]:
def minmax(iteam):
 max=0
 min=1180
 tq=[0]*10
 tp=[0]*10
 for i in range(0,10):
  for lines in open("23122016.txt","r+").readlines():
    if iteam[i] in lines:
      y=lines.split(",")
      tq[i]=tq[i]+int(y[1])
      tp[i]=tp[i]+int(y[3])
      if int(y[3])>max:
        max=int(y[3])
        if int(y[3])<min:
              min=int(y[3])
  print("maximum value of :",iteam[i],min)            
  print("minimum value of ",iteam[i],max)
 print("Item    ","Total Quantity   ","Total Price")
 for i in range(0,10):
    print(iteam[i],"         ",tq[i],"                  ",tp[i])  
  
minmax(iteam)

maximum value of : apple 220
minimum value of  apple 1180
maximum value of : banana 220
minimum value of  banana 1180
maximum value of : orange 220
minimum value of  orange 1180
maximum value of : chees 220
minimum value of  chees 1180
maximum value of : cake 220
minimum value of  cake 1180
maximum value of : umbrella 220
minimum value of  umbrella 1180
maximum value of : lays 220
minimum value of  lays 1180
maximum value of : ice 220
minimum value of  ice 1180
maximum value of : chocalate 220
minimum value of  chocalate 1180
maximum value of : car 220
minimum value of  car 1180
Item     Total Quantity    Total Price
apple           542                    59170
banana           647                    70600
orange           563                    61190
chees           679                    74922
cake           600                    65512
umbrella           569                    61912
lays           706                    76478
ice           642                    70154
chocalate           720                    77912
car           515                    56332

total cost of each unique iteam